/*import fonts*/
@import url(https://sparsh-99.github.io/MyPortfolio/css/partials/fonts.css);

/*import css variables*/
@import url(https://sparsh-99.github.io/MyPortfolio/css/partials/_variables.css);

/*import global variables*/
@import url(https://sparsh-99.github.io/MyPortfolio/css/partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 2px;
    font-family: var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: #141313;
}

.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.button{
    font-family: var(--source);
    position: relative;
}


.btn.button.primary-button{
    background: black;
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    padding: 0.8rem 2.2rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.btn.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.btn.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
    padding: 0.8rem 2.2rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.button.secondary-button:hover{
    background:linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    color: whitesmoke;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

p.para{
    color: #777777;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    font-family: var(--source);
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    z-index: 999;
    transition: background 1s ease;
}


/* End Banner Area */ 

/* Start About area*/

.site-main .about-area{
    padding: 5rem 5rem;
}
.site-main .about-area .about-title h2>span{
    display: block;
    font-style: normal bold;
    font-size: 49px;
    line-height: 60px;
    font-family: var(--roboto);
    letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About area*/

/* Start services area*/

.site-main .services-area{
    padding: 8rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
    
}

.site-main .services-area .services-title h1{
    font-size: 35px;
    letter-spacing: 16px;
    font-weight: 600;
}

.site-main .services-area .card-body h5{
    font-style: normal bold;
    font-family: var(--roboto);
    font-weight: 620;
}

.site-main > .services-area .services{
    background: rgba(56, 56, 56, 0.04);
    padding: 2rem 0;
    width: 20rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
    font-size: 68px;
}
.site-main > .services-area .services-1{
    background: rgba(56, 56, 56, 0.04);
    padding: 2rem 0;
    width: 20rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
    font-size: 76px;
}
.site-main > .services-area .services-2{
    background: rgba(56, 56, 56, 0.04);
    padding: 2rem 0;
    width: 20rem;
    margin: 5rem .5rem;
    transition: box-shadow .5s ease;
    font-size: 105px;
}

.site-main > .services-area .services:hover{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.site-main > .services-area .services-1:hover{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.site-main > .services-area .services-2:hover{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

  /* End services area */


  /*Footer icons*/

  footer.footer-area{
      padding: 4rem 0rem 1rem 0rem;
  }
  footer.footer-area .social h5{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    font-family: var(--roboto);
}

footer.footer-area .social a > i{
    font-size:28px;
    padding: 2rem;
    color: grey;
}

footer.footer-area .social a:hover > i{
    color: #4458dc;
}


/* End Footer */ 
  /*End footer icons*/

/* Global Classes */ 

